/*
COLORS



*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --Greylight1: #faf9f9;
  --Greylight2: #f4f2f2;
  --Greylight3: #f0eeee;
  --Greylight4: #ccc;
  --Greydark1: #333;
  --Greydark2: #777;
  --Greydark3: #999;
  --bla: red; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--Greydark2);
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--Greylight1);
  box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--Greylight2); }

.content {
  display: flex; }

.side-bar {
  background-color: var(--Greydark1);
  flex: 0 0 18%; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.logo {
  height: 3.25rem; }

.search__icon {
  height: 2rem;
  width: 2rem; }

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem; }

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%; }
