/*
COLORS



*/

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --Greylight1: #faf9f9;
  --Greylight2: #f4f2f2;
  --Greylight3: #f0eeee;
  --Greylight4: #ccc;
  --Greydark1: #333;
  --Greydark2: #777;
  --Greydark3: #999;
  --line: 1px solid var(--Greylight2);
}

$bP-largest: 75em; //1200px
$bP-large: 86.75em; //1100px
$bP-medium: 56.25em; //900px
$bP-small: 37.5em; //600px
$bP-smallest: 31.25em; //500px

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // => 1rem = 10px

  @media only screen and (max-width: $bP-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--Greydark2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
